  <div class='flex-row justify-center items-center'>
{{#each posts as |post|}}
    <div class='bg-gray-700 p-6 m-3 w-9/12 rounded-sm shadow-xl'>
      <h2 class='text-3xl mb-3 text-5'>
        <a href='/post/{{post.id}}'>{{post.title}}</a>
      </h2>
      <p class='mb-3'>{{post.content}}</p>
      <p class='text-sm'>Created by
        {{../name}}
        on
        {{format_date post.date_created}}</p>
    </div>
    <div class="flex-row">
      <button
        class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-1 rounded'
      >
        <a href="/updatepost/{{post.id}}">Update</a>
      </button>
      <button
        class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 mx-1 rounded'
        data-id='{{post.id}}'
      >
        Delete
      </button>
    </div>
{{/each}}
  </div>
  <div
    id='invalid-delete'
    class='hidden p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400'
    role='alert'
  >
    <span class='font-medium'>Delete unsuccessful!</span>
  </div>
<div class='flex-row justify-center items-center mt-5'>
  <button
    class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
    id='add-post'
  >
    
    <a href="/addpost">Add New Post</a>
  </button>
</div>
<script src='/js/delete.js'></script>