<!-- Loop over each object in the projects array -->
{{#each posts as |post|}}
  <div class='flex-row justify-center items-center'>
    <div class='bg-gray-700 p-6 m-3 w-9/12 rounded-sm shadow-xl'>
      <h2 class='text-3xl mb-3 text-5'>
        <a href='/post/{{post.id}}'>{{post.title}}</a>
      </h2>
      <p class='mb-3'>{{post.content}}</p>
      <p class='text-sm'>Created by
        {{post.user.name}}
        on
        {{format_date post.date_created}}</p>
    </div>
    <div>
      <p>
        {{post.description}}
      </p>
    </div>
  </div>
{{/each}}